@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: #17181C;
}
header{
    display: flex;
    height: 10vh;
    background-color: #17181C;
}
header h1{
    padding: 24px;
    padding-left: 50px;
    text-decoration: none;
}
header, a, h1{
    text-decoration: none;
    color: rgb(211, 40, 40);
} 
header, a, h1 :nth-last-child(2){
    color: #fff;
}
main {
    display: flex;
    flex-direction: row;
}
main section#cartelas{
    width: 70%;
    height: 90vh;
    background-color: #17181C;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main section#numeros {
    width: 30%;
    height: 90vh;
    background-color: rgba(68, 78, 100, 0.336);  
    color: #fff; 
    display: flex;
    justify-content: center;
    border-radius: 5vh;
}
.text-cartelas{
    background-color: rgb(211, 40, 40);
    width: 150px;
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
section#cartelas div{
    display: flex;
    align-items: center;
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
button{
    height: 30px;
    width: 120px;
    background-color: rgb(211, 40, 40);
    color: #fff;
    border-style: none;
    border-radius: 5px;
}
section#numeros h2{
    margin-top: 20px;
}
footer{
    position: fixed;
    bottom: 0px;
    height: 30px;
    background-color: rgba(59, 69, 83, 0.719);
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}